body {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center
}

.circulo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: 0.5s ;
}

.circulo:hover{
    border-radius: 0;
    height: 100px;
}

